<div class="container">
	<p> BarCrawler </p>
	<h1 class="js-bar-name"> <%=@bar.name%> </h1>
		<div class="row">
			<img class="the-pic" src="http://images2.miaminewtimes.com/imager/geto-boys-at-blackbird-ordinary-in-miami/u/original/6461537/getoboys_miami_blackbirdordinary_sept2013_002.jpg" width="700px">
		</div>

		<div class="row">
			<div class="col-xs-1">
				<br>
				<button class="js-nope">Nope</button> 
			</div>

			<div class="col-xs-6">
				</div>


			<div class="col-xs-1">
				<br>
				<button class="js-maybe">Maybe</button>
			</div>
		</div>
</div>