<div class="container">
	<p> BarCrawler </p>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle js-favorites-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Show Upvoted Bars
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu js-favorites" aria-labelledby="dropdownMenu1"></ul>
</div>

	<h1 class="js-bar-name">This'll only take a second</h1>
		<div class="row">
			<img class="js-live-feed" src="https://s-media-cache-ak0.pinimg.com/originals/e0/f5/a5/e0f5a5f8c2e378df4fddd75e26e9a5a3.gif">
		</div>

		<div class="row">
			<div class="col-xs-1">
				<br>
				<button class="js-nope">Nope</button> 
			</div>

			<div class="col-xs-6">
				</div>


			<div class="col-xs-1">
				<br>
				<button class="js-maybe">Maybe</button>
			</div>
		</div>
		<br><br>
</div>
