<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Barcrawler</title>

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
